
body {
    justify-content: center;
    display: grid;
}

.logo {
    margin-right: 51px;
    /* margin-left: 120px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_menu {
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%; 
    letter-spacing: 0,25px;   
    padding: 0px;
    margin: 0;
    align-self: center;
}

.menu-item {
    margin-right: 30px;
}

.nav-button-text {
    display: flex;
    justify-content: flex-end;
    margin: 14px 120px;
}

.nav-button {
    display: inline-flex;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #E3F5F5;
    border: #E3F5F5;
}

.nav_button_text {
    color: var(--main-03-b-2-a-5, #03B2A5);
    text-align: center;
    /* desktop/ button2 */
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.separate {
    width: 1440px;
    background-color: gray;
    height: 1px;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 126px;
    margin-top: 16px;
}

.main-nav-basic-page {
    display: flex;
    align-items: center;
    /* gap: 4px; */
}

.main_basic_page {
    padding: 0px 8px 4px;
    box-sizing: border-box;
    width: 71px;
}

.main-nav-icon {
    display: flex;
    width: 16px;
    justify-content: center;
}

.main-nav-blog-page {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* .main-nav-basic-line {
    display: inline-flex;
    margin-bottom: 30px;
    margin-left: 126px;
    margin-top: 16px;
} */

.main_basic_page {
    display: flex;
    /* align-items: center; */
    gap: 4px;
    padding: 0px 8px 4px;
    box-sizing: border-box;
    width: 71px;
}

main {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    padding-left: 120px;
    padding-right: 120px;
    width: 1200px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-main-container {
    grid-column: 2;
    grid-row: 1;
    margin-top: 48px;
}

.sidebar-main {
    background-image: url("../images/svg/RectangleSidebar.svg");
    background-repeat: no-repeat;
    background-size: 282px 512px;
    padding: 24px;
    display: flex;
    width: 234px;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 24px;
}

.sidebar-main-images {
    position: relative;
}

.sidebar-main-images img {
    width: 257;
    height: auto;
}

.sidebar-main-images img:not(:first-child) {
    position: absolute;
    top: 0px;
    left: 0px;
}

.sidebar-main-images img:nth-child(2) {
    z-index: 1;
}

.sidebar-main-images img:nth-child(3) {
    z-index: 2;
}

.sidebar-main-images img:nth-child(4) {
    z-index: 3;
}

.sidebar-main-images-yellow {
    padding-top: 82px; 
    padding-right: 30px;
    padding-left: 16px;
    width: 198px;
    /* height: 200px; */
    transform: rotate(360deg);
    flex-shrink: 0;
    fill: #FFE36B;
}

.sidebar-main-images-around {
    padding-left: 50px;
    width: 152.738px;
    flex-shrink: 0;
    fill: #0063A8;
}

.sidebar-main-images-picture {
    padding-top: 48px;
    width: 257px;
    height: 257px;
    flex-shrink: 0;
}

.sidebar-main-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 8px;
}

.sidebar-main-text-h1 {
    margin: 0px;
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}

.sidebar-main-text-p {
    margin: 0px;
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.sidebar-main-button {
    border: 0px;
}

.sidebar-container-Liliya {
    width: 282px;
    height: 481px;
    flex-shrink: 0;
    box-shadow: 0px 30px 50px 0px #EFF5FB;
    position: relative;
    
}

.sidebar-Liliya {
    display: flex;
    width: 234px;
    height: 433px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

.sidebar-container-Liliy-image {
    width: 120px;
height: 120px;
flex-shrink: 0;
position: relative;
}

.sidebar-container-Liliya-ellipse {
    width: 100%;
    height: 100%;
    /* flex-shrink: 0; */
    /* position: relative; */
    overflow: hidden;
}

.sidebar-liliya-icon {
    display: grid;
    position: absolute;
    gap: 8px;
    align-self: flex-start;
}

.sidebar-container-icon-chat {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
    display: inline-flex;
    gap: 4px;
    padding: 0px 6px;
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
}

.sidebar-container-icon-cam {
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
    display: inline-flex;
    letter-spacing: 0.25px;
    gap: 4px;
    width: 62px;
    padding: 0px 6px;
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
    align-self: flex-start;
}

.liliya {
    width: 100%;
height: 100%;
    object-fit: cover;
clip-path: ellipse(50% 50%); /* Use ellipse clip-path to make it round */
}

.sidebar-container-Liliya-psychologist {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.sidebar-text-name {
    display: flex;
    margin: 0px;
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    justify-content: center;
}

.sidebar-text-prof {
    display: flex;
    margin: 0px;
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    justify-content: center;
}

.sidebar-container-Liliya-additional-info {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.sidebar-container-Liliya-experience {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.sidebar-text-experience {
    color: var(--neutrals-n-66, #A2A7B1);
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin: 0px;
}

.sidebar-experience-icon {
    width: 4px;
    height: 4px;
    fill: var(--neutrals-n-66, #A2A7B1);
    align-self: center;
}

.sidebar-text-age {
    color: var(--neutrals-n-66, #A2A7B1);
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin: 0px;
}

.sidebar-container-Liliya-vertical {
    display: flex;
    height: 1px;
    width: 250px;
}

.sidebar-container-Liliya-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin: 0px;
    padding: 0px;
}

.sidebar-container-Liliya-button {
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    border: 0px;
}

.sidebar-container-give-care {
    width: 282px;
    height: 292px;
    flex-shrink: 0;
    display: flex;
}

.sidebar-main-give-care {
    display: flex;
    border-radius: 16px;
    background: #2963A3;
    width: 282px;
    height: 292px;
}

.sidebar-give-care {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
    position: absolute;
    height: 100%;
}

.sidebar-give-care-txt {
    padding: 60px 25px 52px 22px;    
}

.sidebar-give-care-image {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.sidebar-container-eight-video {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-container-main-video {
    position: relative;
    height: 304px;
}

.sidebar-container-video {
    border-radius: 24px;
    background: #FFF;
}

.sidebar-container-video-icon {
    border-radius: 24px;
    width: 282px;
    height: 304px;
    flex-shrink: 0;
    position: absolute;
    bottom: -19px;
    right: 50px;
}

.sidebar-container-main-video-txt {
    display: flex;
    width: 218px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    margin-top: 32px;
}

.sidebar-container-video-txt {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.sidebar-container-video-txt-h3 {
    color: #2963A3;
    font-family: Montserrat sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    width: 17px;
    margin: 0px;
}

.sidebar-container-video-txt-h4 {
    color: #2963A3;
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    margin: 0px;
}

.sidebar-container-video-txt-p {
    width: 196px;
    height: 80px;
    color: var(--primery-b-10, #011632);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}

.sidebar-container-video-txt-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: #333;
    font-family: Montserrat sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    margin: 0px;
}

.sidebar-container-video-button {
    display: flex;
    width: 108px;
    height: 24px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
}

.sidebar-container-point{
    margin-top: 633px;
    margin-left: 200px;
}

.article-container {
    grid-column: 1;
    grid-row: 1;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 54px;
}

.blog-article {
    display: flex;
    justify-content: flex-start;
    width: 690px;
    overflow: hidden;
    color: var(--text-primary, #333);
    text-overflow: ellipsis;
    whitespace: nowrap;
    /* H1 48:56 */
    font-family: Montserrat sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    margin: 0px;
}

.blog-article-text {
    display: flex;
    color: #494949;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin: 16px 0px 24px;
}

.blog-article-author {
    margin-right: 8px;
}

.blog-article-point {
    margin-right: 8px;
}

.blog-article-image {
    display: flex;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 588px;
    /* height: 274px; */
    gap: 16px;

}

.article-content {
    color: #333;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    /* text-decoration-line: underline; */
}

.article-text-content {
    display: flex;
    color: #333;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: underline;
}

/* br { */
    /* margin-left: 20px; Нижний отступ после <br> */
/* } */

.article-quote {
    border-radius: 16px;
    background: var(--blue-b-80, #F3F7FE);
    display: flex;
    width: 690px;
    height: auto;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.aritcle-quote-image {
    background-size: 55.78px 36px;
    background-position: 24px 24px;
    background-image: url('../images/png/Vector.png');
    background-repeat: no-repeat; 
}

.article-quote-text {
    width: 642px;
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.article-text-title {
    display: flex;
    width: 690px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;   
}

.article-text-title-anxiety {
    color: var(--text-primary, #333);
    /* H3 24:32 */
font-family: Montserrat sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
/* padding-left: 30px; */
margin-top: 24px;
margin-bottom: 0px;
padding: 0px;

}

.article-text-anxiety {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    gap: 16px;
    margin-bottom: 24px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.green-bullet {
    list-style-type: none; /* Remove default bullets */
}

/* Target only direct <li> children of .green-bullet */
.green-bullet-li {
    background-image: url('../images/png/bullet.png');
    background-repeat: no-repeat;
    background-size: 24px 24px; /* Set the size of the bullet image */
    /* background-position: 0 center; Align the bullet vertically centered with the text */
    padding-left: 30px; /* Space for the bullet image, adjust as needed */
    /* margin-bottom: 5px;  */
    margin: 0px;
    line-height: 24px; /* Match the line-height with the bullet image height */
}

.no-bullet {
    background-image: none; /* Remove the custom bullet */
    padding-left: 30px; /* Match the padding of the other <li> elements */
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-left-120 {
    padding-left: 120px;
}

.article-title-h3 {
    display: flex;
    width: 690px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 16px; */
    margin-bottom: 40px;
}

.article-title-h3-text {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.image-above {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 691px;
    align-items: flex-start;
}

.image-above-text {
    color: #868686;
    /* xl/ text 3 */
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.25px;
    margin: 0px;
}

.big-article-image {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center; 
    width: 691px;
    margin-bottom: 48px;
}

.big-article-text {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    width: 691px;
    height: 96px;
    margin: 0px;
}

.big-article-text-addition {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    width: 385px;
    /* height: 380px; */
    margin: 0px;
}

.big-article-text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */
    width: 691px;
    height: 168px;

}

.big-article-text-image-icon {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 240px;
    height: 168px;
    /* padding: 24px 121px 48px 123px; */
    /* margin: 24px; */
}

.big-article-text-image-text {
    z-index: 2;
    /* position: absolute; */
    width: 485px;
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.big-article-image-woman-text {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.article-exercise {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
    background: var(--status-yellowe-white, #FEFAEC);
}

.article-exercise-two {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
    background: rgba(3, 178, 165, 0.10);
}

.article-exercise-one {
    color: var(--text-primary, #333);
    /* H5 bold 16:24 */
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin: 0px;
}

.article-exercise-text {
    width: 642px;
    color: var(--text-primary, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin: 0px;
}

.article-text-bullet {
    width: 572px;
    height: 96px;
}

.article-text-bullet-anxiety {
    align-self: stretch;
}

.aritcle-text-with-two-images {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 691px;
}

.article-text-images-both {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.image-icon {
    display: flex;
    width: 178.75px;
    height: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-nav {
    color: #2963A3;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.article-nav-text-first-row {
    display: flex;
    width: 691px;
    align-items: flex-start;
    gap: 8px;
}

.article-nav-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    color: rgba(41, 99, 163, 1)
}

.article-nav-text-second-row {
    display: flex;
    width: 691px;
    align-items: flex-start;
    gap: 8px;
}

.article-nav-text-image {
    color: #494949;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    width: 4px;
    height: 20px;
}

.text-line {
    stroke-width: 1px;
    stroke: #DEDEDE;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 72px;
    width: 100%;
    text-align: center;
}

.main-underline-txt-picture-point {
    display: flex;
    margin-left: 650px;
}

.main-underline-text {
    display: inline-flex;
}

.main-underline-picture {
    display: inline-flex;
    padding-left: 303px;
}

.underline-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 348px;
}

.underline-main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.underline-text-h6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 144.444% */
    margin: 0px;
}

.underline-text-p {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 0px;
}

.underline-button {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--button-1, #16C8BB);
    color: var(--text-white, #FFF);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 190px; 
    height: 20px;
}

.main-picture {
    display: flex;
    /* width: 520px;
    height: 330px; */
    flex-shrink: 0;
}

.main-picture-vector-inside {
    display: flex;
    /* width: 296.171px;
    height: 436.255px; */
    flex-shrink: 0;
    fill: #EFF5FB;
}

.main-underline-point {
    display: inline-flex;
    /* width: 272px;
    height: 240px; */
    /* flex-shrink: 0; */
    fill: #F7A698;
    height: 240px;
    padding-left: 65px;
}

.main-footer { 
    box-sizing: border-box;
    background-color: #2963A3;
    width: 1440px;
    height: 302px;
    padding: 40px 120px 41px 120px;
}

.footer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    height: auto;
}

.menu-footer {
    /* display: flex; */
    /* flex: 1; */
    /* gap: 16px; */
    display: grid;
    grid-template-columns: 164px 164px;
    text-decoration: #FFF;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.menu-footer-mail { 
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    display: grid;
    box-sizing: border-box;
    align-items: center;
    gap: 8px;
}

.menu-footer-mail-text {
    color: #FFF;
    /* H4 18:26 */
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    width: 356px;
    height: auto;
    margin: 0px;
}

.menu-footer-mail-button {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 0px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
    width: 384px;
    /* height: 48px; */
    padding: 0px;
}
.mail-text {    
    color: var(--text-secondary, #9D9D9D);
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-color: #FFF;
    text-align: center;
    width: 316px;
    height: 20px;
    padding: 14px 52px 14px 16px;
    border: 0px;
}

.menu-mail {
    display: inline-flex;
    justify-content: end;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #16C8BB;
}

.footer-text {
    color: #FFF;
    font-family: Montserrat sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
    opacity: 0.4;
    width: 486px;
    height: auto;
    margin: 0px;
}

.social-footer {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    align-items: end;
    gap: 40px;
}

.footer-line {
    width: 1200px;
    background-color: #9d9d9d;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.footer-underline {
    display: flex;
    color: #FFFFFF;
}

.footer-underline-name {
    display: flex;
    color: #FFFFFF;
    padding-right: 48px;
    opacity: 0.4;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-doc {
    display: flex;
    color: #FFFFFF;
    padding-right: 48px;
    opacity: 0.4;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-pay {
    display: flex;
    color: #FFFFFF;
    opacity: 0.4;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
