body {
    justify-content: center;
    display: grid;
}
/* 
.main-nav-basic {
    display: flex;
    gap: 8px;
    margin-left: 126px;
    margin-top: 16px;
} */

/* .main-nav-icon-inside {
    width: 9.375px;
    height: 4.688px;
    border: 1px; 
    align-items: center;
} */

/* .main-nav-icon-outside { */
    /* width: 20px; */
    /* height: 20px; */
    /* flex-shrink: 0; */
/* } */

.logo {
    margin-right: 51px;
    /* margin-left: 120px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_menu {
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%; 
    letter-spacing: 0,25px;   
    padding: 0px;
    margin: 0;
    align-self: center;
}

.menu-item {
    margin-right: 30px;
}

.nav-button-text {
    display: flex;
    justify-content: flex-end;
    margin: 14px 120px;
}

.nav-button {
    display: inline-flex;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #E3F5F5;
    border: #E3F5F5;
}

.nav_button_text {
    color: var(--main-03-b-2-a-5, #03B2A5);
    text-align: center;
    /* desktop/ button2 */
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.separate {
    width: 1440px;
    background-color: gray;
    height: 1px;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 126px;
    margin-top: 16px;
}

.main-nav-basic-page {
    display: flex;
    align-items: center;
    /* gap: 4px; */
}

.main_basic_page {
    padding: 0px 8px 4px;
    box-sizing: border-box;
    width: 71px;
}

.main-nav-icon {
    display: flex;
    width: 16px;
    justify-content: center;
}

.main-nav-blog-page {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* .main-nav-basic-line {
    display: inline-flex;
    margin-bottom: 30px;
    margin-left: 126px;
    margin-top: 16px;
} */

.main_basic_page {
    display: flex;
    /* align-items: center; */
    gap: 4px;
    padding: 0px 8px 4px;
    box-sizing: border-box;
    width: 71px;
    /* height: 18px; */
}
/* 
.main_basic_page_icon {
    width: 9.375px;
    height: 4.688px;
    flex-shrink: 0;
} */

/* .main_blog_page {
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    width: 31px;
    height: 18px;    
} */

.blog {
    display: flex;
    justify-content: flex-start;
    width: 552px;
    height: 56px;
    margin: 30px 768px 38px 120px;
    color: var(--text-primary, #333);
    
   font-family: Montserrat sans-serif;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 56px;
}

main {
    padding-left: 120px;
    padding-right: 120px;
    width: 1200px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
} */
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 54px;
}

.blog-article {
    display: flex;
    justify-content: flex-start;
    width: 690px;
    overflow: hidden;
    color: var(--text-primary, #333);
    text-overflow: ellipsis;
    whitespace: nowrap;
    /* H1 48:56 */
    font-family: Montserrat sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    margin: 0px;
}

.blog-article-text {
    display: flex;
    color: #494949;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin: 16px 0px 24px;
}

.blog-article-author {
    margin-right: 8px;
}

.blog-article-point {
    margin-right: 8px;
}

.blog-article-image {
    display: flex;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 588px;
    /* height: 274px; */
    gap: 16px;

}

.article-content {
    color: #333;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    /* text-decoration-line: underline; */
}

.article-text-content {
    display: flex;
    color: #333;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: underline;
}

/* br { */
    /* margin-left: 20px; Нижний отступ после <br> */
/* } */

.article-quote {
    border-radius: 16px;
    background: var(--blue-b-80, #F3F7FE);
    display: flex;
    width: 690px;
    height: auto;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.aritcle-quote-image {
    background-size: 55.78px 36px;
    background-position: 24px 24px;
    background-image: url('../images/png/Vector.png');
    background-repeat: no-repeat; 
}

.article-quote-text {
    width: 642px;
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.article-text-title {
    display: flex;
    width: 690px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;   
}

.article-text-title-anxiety {
    color: var(--text-primary, #333);
    /* H3 24:32 */
   font-family: Montserrat sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px; /* 133.333% */
   /* padding-left: 30px; */
   margin-top: 24px;
   margin-bottom: 0px;
   padding: 0px;

}

.article-text-anxiety {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    gap: 16px;
    margin-bottom: 24px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.green-bullet {
    list-style-type: none; /* Remove default bullets */
}

/* Target only direct <li> children of .green-bullet */
.green-bullet-li {
    background-image: url('../images/png/bullet.png');
    background-repeat: no-repeat;
    background-size: 24px 24px; /* Set the size of the bullet image */
    /* background-position: 0 center; Align the bullet vertically centered with the text */
    padding-left: 30px; /* Space for the bullet image, adjust as needed */
    margin-bottom: 5px; /* Optional: Add some space between list items */
    line-height: 24px; /* Match the line-height with the bullet image height */
}

.no-bullet {
    background-image: none; /* Remove the custom bullet */
    padding-left: 30px; /* Match the padding of the other <li> elements */
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-left-120 {
    padding-left: 120px;
}
 
.article-title-h3 {
    display: flex;
    width: 690px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 16px; */
    margin-bottom: 40px;
}

.article-title-h3-text {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.image-above {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 691px;
    align-items: flex-start;
    margin-bottom: 24px;
    margin-right: 0px;
}

.image-above-text {
    color: #868686;
    /* xl/ text 3 */
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.25px;
    margin: 0px;
}

.big-article-image {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center; 
    width: 691px;
    margin-bottom: 48px;
}

.big-article-text {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    width: 691px;
    height: 96px;
    margin: 0px;
}

.big-article-text-addition {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    width: 385px;
    /* height: 380px; */
    margin: 0px;
}

.big-article-text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */
    width: 691px;
    height: 168px;

}

.big-article-text-image-icon {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 240px;
    height: 168px;
    /* padding: 24px 121px 48px 123px; */
    /* margin: 24px; */
}

.big-article-text-image-text {
    z-index: 2;
    /* position: absolute; */
    width: 485px;
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.big-article-image-woman-text {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.article-exercise {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
    background: var(--status-yellowe-white, #FEFAEC);
}

.article-exercise-two {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
    background: rgba(3, 178, 165, 0.10);
}

.article-exercise-one {
    color: var(--text-primary, #333);
    /* H5 bold 16:24 */
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin: 0px;
}

.article-exercise-text {
    width: 642px;
    color: var(--text-primary, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin: 0px;
}

.article-text-bullet {
    width: 572px;
    height: 96px;
}

.article-text-bullet-anxiety {
    align-self: stretch;
}

.aritcle-text-with-two-images {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 691px;
}

.article-text-images-both {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.image-icon {
    display: flex;
    width: 178.75px;
    height: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-nav {
    color: #2963A3;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.article-nav-text-first-row {
    display: flex;
    width: 691px;
    align-items: flex-start;
    gap: 8px;
}

.article-nav-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    color: rgba(41, 99, 163, 1)
}

.article-nav-text-second-row {
    display: flex;
    width: 691px;
    align-items: flex-start;
    gap: 8px;
}

.article-nav-text-image {
    color: #494949;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    width: 4px;
    height: 20px;
}

.text-line {
    stroke-width: 1px;
    stroke: #DEDEDE;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 72px;
}

.main-underline-text-picture {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.underline-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: 32px;
    width: 348px;
    justify-content: flex-start;
}

.underline-main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.underline-text-h6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 144.444% */
    margin: 0px;
}

.underline-text-p {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 0px;
}

.underline-button {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--button-1, #16C8BB);
    color: var(--text-white, #FFF);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 190px; 
    height: 20px;
}

.main-picture {
    display: flex;
    /* width: 520px;
    height: 330px; */
    flex-shrink: 0;
}

.main-picture-vector-inside {
    display: flex;
    /* width: 296.171px;
    height: 436.255px; */
    flex-shrink: 0;
    fill: #EFF5FB;
}

.main-underline-circle {
    display: flex;
    /* width: 272px;
    height: 240px; */
    /* flex-shrink: 0; */
    fill: #F7A698;
    height: 240px;
}

.sidebar-background-color {
    width: 282px;
height: 512px;
flex-shrink: 0;
border-radius: 16px;
background: var(--blue-b-95, #E6F0FD);
}

.sidebar-main {
    display: flex;
width: 234px;
flex-direction: column;
align-items: center;
gap: 24px;
}

.sidebar-main-images {
    width: 257px;
height: 206px;
}

.sidebar-main-text {
    display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
}

.sidebar-main-button {
    display: flex;
padding: 12px 16px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 4px;
background: var(--primary-400, #35B3A9);
}

.main-footer { 
    box-sizing: border-box;
    background-color: #2963A3;
    width: 1440px;
    height: 302px;
    padding: 40px 120px 41px 120px;
   }

.footer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    height: auto;
    
}

.menu-footer {
    /* display: flex; */
    /* flex: 1; */
    /* gap: 16px; */
    display: grid;
    grid-template-columns: 164px 164px;
    text-decoration: #FFF;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.menu-footer-mail { 
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    display: grid;
    box-sizing: border-box;
    align-items: center;
    gap: 8px;
}

.menu-footer-mail-text {
    color: #FFF;
    /* H4 18:26 */
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    width: 356px;
    height: auto;
    margin: 0px;
}

.menu-footer-mail-button {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 0px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
    width: 384px;
    /* height: 48px; */
    padding: 0px;
}
.mail-text {    
    color: var(--text-secondary, #9D9D9D);
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-color: #FFF;
    text-align: center;
    width: 316px;
    height: 20px;
    padding: 14px 52px 14px 16px;
    border: 0px;
}

.menu-mail {
    display: inline-flex;
    justify-content: end;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #16C8BB;
}

.footer-text {
    color: #FFF;
    font-family: Montserrat sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
    opacity: 0.4;
    width: 486px;
    height: auto;
    margin: 0px;
}

.social-footer {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    align-items: end;
    gap: 40px;
}

.footer-line {
    width: 1200px;
    background-color: #9d9d9d;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.footer-underline {
    display: flex;
    color: #FFFFFF;
}

.footer-underline-name {
    display: flex;
    color: #FFFFFF;
    padding-right: 48px;
    opacity: 0.4;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-doc {
    display: flex;
    color: #FFFFFF;
    padding-right: 48px;
    opacity: 0.4;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-pay {
    display: flex;
    color: #FFFFFF;
    opacity: 0.4;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}