body {
    display: flex;
    flex-direction: column;
    width: 1440px;
}

.main-nav {
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 16px;
    margin-right: 120px;
    justify-content: space-between;
    gap: 164px;
    width: 1200px;
}

.main-nav-logo-links {
    display: flex;
    gap: 51px;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_menu {
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%; 
    letter-spacing: 0,25px;   
    padding: 0px;
    margin: 0;
    align-self: center;
    gap: 30px;
    display: flex;
}

.nav-button-text {
    display: flex;
    margin: 14px;
    height: 48px;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #E3F5F5;
    border: #E3F5F5;
}

.nav_button_text {
    color: var(--main-03-b-2-a-5, #03B2A5);
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width:190px;
}

.nav-mobile-menu{
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #03B2A5;
    margin: 6px 0;
}

.separate {
    width: 1440px;
    background-color: gray;
    height: 1px;
}

main {
    
}

.main-nav-page {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 126px;
    margin-top: 16px;
    margin-right: 1204px;
}

.main-nav-basic-page {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main_basic_page {
    padding: 0px 8px 4px;
    box-sizing: border-box;
    width: 71px;
}

.main-nav-icon {
    display: flex;
    width: 16px;
    justify-content: center;
}

.main_basic_page {
    display: flex;
    gap: 4px;
    padding: 0px 8px 4px;
    box-sizing: border-box;
    width: 71px;
}

.main_blog_page {
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    width: 31px;
    height: 18px;    
}

.blog {
    display: flex;
    justify-content: flex-start;
    width: 552px;
    height: 56px;
    margin: 30px 768px 32px 120px;
    color: var(--text-primary, #333);
   font-family: Montserrat sans-serif;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 56px; /* 116.667% */
}

.main-blog-nav {
    display: grid;
    margin-left: 120px;
    margin-right: 139px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.blog-nav {
    display: flex;
    align-items: flex-start;
    gap: 8px;
} 

.blog-nav-icon {
    display: flex;
    padding: 6px 8px;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
}

.blog-nav-icon-image {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 1px;
    justify-content: center;
    align-items: center;
}

.blog-nav-icon-text {
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

main {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1200px;
}

.big-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 588px;
}
/* 
.big-articles-container img{
    max-width: 588px;
    max-height: 260px;
} */

.article-container {
    display: grid;
    max-width: 588px;
    margin: 24px 0px 24px 0px;
}

.article-txt-container {
    border: solid 1px #DEDEDE;
    border-radius: 0px 0px 16px 16px;
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-style: normal;
    line-height: 26px;
}

.article_txt {
    display: grid;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 4px;
}

.button-container {
    color: #494949;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 0px;
}

.button-txt-container {
    color: var(--text-primary, #333);
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
    margin-left: 16px;
}

.button-date-container {
    line-height: 20px;
    margin-left: 16px;
}

.article-img-container {
    display: grid;
    position: relative;
}

.image {
    border-radius: 16px 16px 0px 0px;
}

.article-img-container-icon {
    display: grid;
    position: absolute;
    top: 8px;
    left: 8px;
    gap: 8px;
}

.article-img-container-button {
    display: inline-flex;
    padding: 6px 8px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.70);
    /* width: 100%; */
}

.average-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 24px;
    max-width: 384px;
    /* max-height: 475px; */
    gap: 24px;
}

.average-articles-container img{
    max-width: 384px;
    /* max-height: 260px; */
}

.article-container-two {
    display: grid;
    max-width: 384px;
}

.article-img-container-two { 
     display: grid;
     position: relative;
 }

 .article-img-container-two-icon {
    display: grid;
    position: absolute;
    top: 8px;
    left: 8px;
    gap: 8px;
 }

.article-txt-container-two {
    /* display: grid; */
    border: solid 1px #DEDEDE;
    border-radius: 0px 0px 16px 16px;
    color: var(--text-primary, #333);
    max-width: 384px;
    height: 216px;
}

.article_txt-two {
   font-family: Montserrat sans-serif;
   font-size: 18px;
   font-style: normal;
   line-height: 26px;
   margin: 16px 16px 4px 16px;
   font-weight: 700;
   width: 352px;
   height: auto;
}

.button-container-two {
    color: #494949;
    font-family: Montserrat sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
    margin-left: 16px;
    width: 352px;
    height: auto;
}

.button-txt-container-two {
    color: var(--text-primary, #333);
    font-family: Montserrat sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 16px 20px 16px;
    width: 352px;
    height: auto;
}

.button-date-container-two {
   line-height: 18px;
   margin: 4px auto 16px 16px;
   font-size: 12px;
   font-family: Montserrat sans-serif;
}

.small-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 24px;
    max-width: 384px;
    /* max-height: 475px; */
    gap: 24px;
}

.small-articles-container img {
    max-width: 384px;
    max-height: 260px;
}

.article-container-three {
    display: grid;
    max-width: 384px;
}

.article-img-container-three { 
    display: grid; 
    position: relative;
}

.article-img-container-three-icon {
    display: grid;
    position: absolute;
    top: 8px;
    left: 8px;
    gap: 8px;    
}

.article-txt-container-three {
    display: grid;
    border: solid 1px #DEDEDE;
    border-radius: 0px 0px 16px 16px;
    color: var(--text-primary, #333);
    max-width: 384px;
    height: 216px;
}

.article_txt-three {
   font-family: Montserrat sans-serif; 
   font-size: 18px;
   font-style: normal;
   line-height: 26px;
   margin: 16px 16px 4px 16px;
   font-weight: 700;
   width: 352px;
   height: auto;
}

.button-container-three {
    color: #494949;
    font-family: Montserrat sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
    margin-top: 0px; 
    margin-left: 16px;
    margin-bottom: 0px;
    width: 352px;
    height: auto;
}

.button-txt-container-three {
    color: var(--text-primary, #333);
    font-size: 14px;
    line-height: 20px;
    margin: 8px 16px 20px 16px;
    font-style: normal;
    font-family: Montserrat sans-serif;
    font-weight: 400;
    width: 352px;
    height: auto;
}

.button-date-container-three {
   line-height: 18px;
   margin: 4px auto 16px 16px;
   font-size: 12px;
   font-family: Montserrat sans-serif;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0,25px;
   max-width: 61px;
}

.main-button-text {
    display: flex;
    justify-content: center;
    margin: 56px 629px 96px;
}

.main_button {
    display: flex;
    width: 182px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
}

.main_button_text {
    color: #FFF;
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    width: 150px;
    height: 24px;
}

.main-footer { 
    background-color: #2963A3;
    padding: 40px 120px 41px 120px;
   }

.footer { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    height: auto;
}

.menu-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 310px;
    /* max-height: 184px; */
    gap: 93px;
}


.menu-footer-blog-about {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 111px;
    max-height: auto;
}

.menu-footer-blog-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 106px;
    max-height: auto;
}

.menu-footer-txt {
    color: #FFF;
    font-family: Montserrat sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.menu-footer-mail { 
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.menu-footer-mail-text {
    color: #FFF;
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    width: 356px;
    height: auto;
    margin: 0px;
}

.menu-footer-mail-button {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 0px;
    background: #FFF;
    width: 384px;
    padding: 0px;
}
.mail-text {    
    color: var(--text-secondary, #9D9D9D);
    font-family: Montserrat sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-color: #FFF;
    text-align: center;
    width: 316px;
    height: 20px;
    padding: 14px 52px 14px 16px;
    border: 0px;
}

.menu-mail {
    padding: 14px 20px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #16C8BB;
    max-width: 24px;
    max-height: 20px;
}

.footer-text {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
    opacity: 0.4;
    max-width: 486px;
    height: auto;
    margin: 0px;
}

.social-footer-SK {
    display: flex;
    max-width: 221px;
    max-height: 50px;  
}

.social-footer-networks {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.social-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    max-width: 221px;
    max-height: 122px;
    justify-self: flex-end;
}

.footer-line {
    width: 1200px;
    background-color: #9d9d9d;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.footer-underline {
    display: flex;
    color: #FFFFFF;
}

.footer-underline-name {
    color: #FFFFFF;
    padding-right: 48px;
    opacity: 0.4;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-doc {
    color: #FFFFFF;
    padding-right: 48px;
    opacity: 0.4;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-pay {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 1024px){
    body {
        width: 1024px;
    }

    .main-nav {
        gap: 20px;
        justify-content: flex-start;
        margin-left: 32px;
        margin-right: 32px;

    }

    .main-nav-logo-links {
        gap: 32px;
    }

    .nav_menu {
        gap: 16px;
    }

    .nav-button-text {
        margin-left: 0px;        
    }

    .blog {
        width: 527px;
        margin: 40px 464px 32px 33px;
    }

    .separate {
        width: 1024px;
    }


    main {
        width: 1024px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .main-blog-nav {
        margin-left: 32px;
        margin-right: 58px;
    }

    .main-nav-page {
        margin-left: 32px;
        margin-right: 882px;
    }

    .menu-item {
        margin-right: 16px;
    }

    .main-blog-nav {
        display: grid;
        flex-wrap: wrap;
    }

    /* .big-articles-container img{
        max-width: 468px;
    } */

    .image {
        width: 468px;
    }

    .big-articles-container {
        gap: 24px;
        max-width: 468px;
    }

    .article-container {
        max-width: 468px;
    }

    .average-articles-container {
        max-width: 304px;
        /* max-height: 458px; */
    }

    .average-articles-container img{
        max-width: 304px;
    }

    .small-articles-container {
        max-width: 304px;
        max-height: 458px;
        gap: 24px;
    }

    .small-articles-container img{
        max-width: 304px;
    }

    .article-container-three {
        max-width: 304px;
    }

    .article-txt-container-three {
        max-width: 304px;
        max-height: 253px;
    }
    
    .article_txt-three {
       width: 272px;
       height: auto;
    }
    
    .button-container-three {
        width: 272px;
        height: auto;
    }
    
    .button-txt-container-three {
        width: 272px;
        height: auto;
    }

    .article-txt-container-two {
        max-width: 304px;
        /* max-height: 253px; */
    }    

    .article_txt-two {
        max-width: 272px;
        max-height: auto;
     }

    .button-container-two { 
        max-width: 272px;
    } 

    .button-txt-container-two {
        max-width: 272px;
    } 
    
    .button-date-container-two {
        max-width: 272px;
    }

    .main-button-text {
        margin: 35px 421px 60px;
    }

    .main-blog-nav {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .blog-nav {
        flex-wrap: wrap;
    }

    .main-footer {
        max-width: 1024px;
        padding: 40px 26px 78px 38px;
    }

    .menu-footer {
        gap: 30px;
        max-width: 247px;
        max-height: 184px;
    }

    .menu-footer-mail {
        max-width: 450px;
    }

    .menu-footer-mail input {
        max-width: 200px;
    }

    .footer-text {
        max-width: 450px;
    }

    .social-footer {
    max-width: 300px;
    margin-right: 10px;
    }
}
@media screen and (max-width: 768px) {
    body {
        width: 768px;
    }
    
    .nav_menu {
        display: none;
    }

    .nav-button-text {
        display: none;
    }

    .main-nav-page {
        margin-left: 20px;
    }
    
    .separate {
        width: 768px;
    }

    .blog {
        width: 527px;
        margin: 40px 220px 32px 21px;
    }

    main {
        width: 768px;
        padding-left: 20px;
        padding-right: 20px;
        height: 3551px;
    }

    /* .big-articles-container img{
        max-width: 728px;
    } */

    .main-nav {
        max-width: 768px;
    }

    .image {
        width: 728px;
    }

    .big-articles-container {
       grid-template-columns: 1fr;
        max-width: 728px;
    }

    .article-container {
        max-width: 768px;
    }

    .main-blog-nav {
        margin-left: 20px;
        margin-right: 20px;
        width: 728px;
    }

    .average-articles-container {
        max-width: 352px;
    }

    .average-articles-container img{
        max-width: 352px;
    }

    .article-container-two {
        width: 352px;
    }

    /* .image-small {
        width: 352px;
    } */
    
    .article-txt-container-two {
        max-width: 352px;
        max-height: 241px;
    }

    .small-articles-container {
        max-width: 352px;
    }

    .small-articles-container img{
        max-width: 352px;
    }

    .article-container-three {
        max-width: 352px;
    }

    .article-txt-container-three {
        max-width: 352px;
        max-height: 241px;
    }

    .main-button-text {
        margin: 33px 289px 55px 297px;
    }

    .main-footer {
        width: 768px;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
        max-width: 768px;
    }

    .average-articles-container {
        grid-template-columns: 1fr 1fr;
        /* gap: 24px; */
    }

    .article-container-how-to-manage {
        display: grid;
        grid-template-columns: 1fr;
    }



}

